--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE',
    'OTHER'
);


ALTER TYPE public."Gender" OWNER TO postgres;

--
-- Name: Origin; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Origin" AS ENUM (
    'RAW_MATERIAL',
    'MADE',
    'CONSUMABLE',
    'OTHER'
);


ALTER TYPE public."Origin" OWNER TO postgres;

--
-- Name: Person_Type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Person_Type" AS ENUM (
    'COSTUMER',
    'SUPPLIER'
);


ALTER TYPE public."Person_Type" OWNER TO postgres;

--
-- Name: Price_Type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Price_Type" AS ENUM (
    'COST',
    'SALE'
);


ALTER TYPE public."Price_Type" OWNER TO postgres;

--
-- Name: Production_Status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Production_Status" AS ENUM (
    'CREATED',
    'SCHEDULED',
    'OPEN',
    'IN_PROGRESS',
    'FINISHED',
    'STOPPED',
    'CANCELED'
);


ALTER TYPE public."Production_Status" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'DEFAULT',
    'ROOT',
    'ADMIN',
    'DEMO',
    'API',
    'SYSTEM'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: Stock_Moviment; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Stock_Moviment" AS ENUM (
    'INPUT',
    'TRANSIT',
    'OUTPUT'
);


ALTER TYPE public."Stock_Moviment" OWNER TO postgres;

--
-- Name: Unit_Measure; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Unit_Measure" AS ENUM (
    'UN',
    'PC',
    'PCT',
    'ML',
    'L',
    'GR',
    'KG',
    'TON'
);


ALTER TYPE public."Unit_Measure" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: composition_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.composition_items (
    id integer NOT NULL,
    composition_id integer NOT NULL,
    sequence integer NOT NULL,
    product_id integer NOT NULL,
    quantity double precision NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.composition_items OWNER TO postgres;

--
-- Name: composition_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.composition_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.composition_items_id_seq OWNER TO postgres;

--
-- Name: composition_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.composition_items_id_seq OWNED BY public.composition_items.id;


--
-- Name: compositions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.compositions (
    id integer NOT NULL,
    product_id integer NOT NULL,
    description character varying(255) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer,
    production_steps json
);


ALTER TABLE public.compositions OWNER TO postgres;

--
-- Name: compositions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.compositions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.compositions_id_seq OWNER TO postgres;

--
-- Name: compositions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.compositions_id_seq OWNED BY public.compositions.id;


--
-- Name: groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.groups (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    father_id integer,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.groups OWNER TO postgres;

--
-- Name: groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.groups_id_seq OWNER TO postgres;

--
-- Name: groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.groups_id_seq OWNED BY public.groups.id;


--
-- Name: ocurrences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ocurrences (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.ocurrences OWNER TO postgres;

--
-- Name: ocurrences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ocurrences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ocurrences_id_seq OWNER TO postgres;

--
-- Name: ocurrences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ocurrences_id_seq OWNED BY public.ocurrences.id;


--
-- Name: ocurrences_of_production_stages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ocurrences_of_production_stages (
    id integer NOT NULL,
    ocurrence_id integer NOT NULL,
    description character varying(255) NOT NULL,
    observation text,
    image_link text,
    photo bytea[],
    stage_ocurred_id integer NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.ocurrences_of_production_stages OWNER TO postgres;

--
-- Name: ocurrences_of_production_stages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ocurrences_of_production_stages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ocurrences_of_production_stages_id_seq OWNER TO postgres;

--
-- Name: ocurrences_of_production_stages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ocurrences_of_production_stages_id_seq OWNED BY public.ocurrences_of_production_stages.id;


--
-- Name: persons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.persons (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type public."Person_Type" DEFAULT 'SUPPLIER'::public."Person_Type" NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.persons OWNER TO postgres;

--
-- Name: persons_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.persons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.persons_id_seq OWNER TO postgres;

--
-- Name: persons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.persons_id_seq OWNED BY public.persons.id;


--
-- Name: prices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prices (
    id integer NOT NULL,
    product_id integer NOT NULL,
    price double precision NOT NULL,
    type public."Price_Type" DEFAULT 'COST'::public."Price_Type" NOT NULL,
    is_current boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.prices OWNER TO postgres;

--
-- Name: prices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prices_id_seq OWNER TO postgres;

--
-- Name: prices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prices_id_seq OWNED BY public.prices.id;


--
-- Name: production_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_lines (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.production_lines OWNER TO postgres;

--
-- Name: production_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_lines_id_seq OWNER TO postgres;

--
-- Name: production_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_lines_id_seq OWNED BY public.production_lines.id;


--
-- Name: production_order_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_order_steps (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.production_order_steps OWNER TO postgres;

--
-- Name: production_order_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_order_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_order_steps_id_seq OWNER TO postgres;

--
-- Name: production_order_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_order_steps_id_seq OWNED BY public.production_order_steps.id;


--
-- Name: production_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_orders (
    id integer NOT NULL,
    number integer NOT NULL,
    description character varying(255),
    production_date timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer,
    "Production_Status" public."Production_Status" DEFAULT 'CREATED'::public."Production_Status" NOT NULL
);


ALTER TABLE public.production_orders OWNER TO postgres;

--
-- Name: production_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_orders_id_seq OWNER TO postgres;

--
-- Name: production_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_orders_id_seq OWNED BY public.production_orders.id;


--
-- Name: production_orders_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_orders_items (
    id integer NOT NULL,
    production_order_id integer NOT NULL,
    sequence integer NOT NULL,
    final_product_id integer NOT NULL,
    prodution_quantity_estimated double precision NOT NULL,
    production_quantity_real double precision NOT NULL,
    production_quantity_loss double precision NOT NULL,
    lote character varying(255),
    lote_expiration timestamp(3) without time zone,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.production_orders_items OWNER TO postgres;

--
-- Name: production_orders_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_orders_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_orders_items_id_seq OWNER TO postgres;

--
-- Name: production_orders_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_orders_items_id_seq OWNED BY public.production_orders_items.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    code character varying(255) NOT NULL,
    sku character varying(255) NOT NULL,
    origin public."Origin" DEFAULT 'RAW_MATERIAL'::public."Origin" NOT NULL,
    unit_measure public."Unit_Measure" DEFAULT 'UN'::public."Unit_Measure" NOT NULL,
    category_id integer DEFAULT 1 NOT NULL,
    group_id integer DEFAULT 1 NOT NULL,
    supplier_id integer,
    nutritional_info jsonb,
    image_link text,
    photo bytea[],
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: progress_of_productions_orders_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_of_productions_orders_steps (
    id integer NOT NULL,
    production_id integer NOT NULL,
    step_id integer NOT NULL,
    sequence integer NOT NULL,
    raw_product_id integer NOT NULL,
    start_time timestamp(3) without time zone,
    end_time timestamp(3) without time zone,
    total_time double precision,
    initial_quantity double precision,
    final_quantity double precision,
    quantity_loss double precision,
    machine text,
    line_id integer DEFAULT 1,
    image_link text,
    photo bytea[],
    observation text,
    operator_id integer,
    ocurrences json,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.progress_of_productions_orders_steps OWNER TO postgres;

--
-- Name: progress_of_productions_orders_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progress_of_productions_orders_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.progress_of_productions_orders_steps_id_seq OWNER TO postgres;

--
-- Name: progress_of_productions_orders_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progress_of_productions_orders_steps_id_seq OWNED BY public.progress_of_productions_orders_steps.id;


--
-- Name: stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock (
    id integer NOT NULL,
    document_number character varying(255) NOT NULL,
    document_date timestamp(6) without time zone NOT NULL,
    stock_moviment public."Stock_Moviment" NOT NULL,
    is_balance boolean DEFAULT false NOT NULL,
    document_type character varying(255),
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.stock OWNER TO postgres;

--
-- Name: stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_id_seq OWNER TO postgres;

--
-- Name: stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_id_seq OWNED BY public.stock.id;


--
-- Name: stock_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_items (
    id integer NOT NULL,
    stock_id integer NOT NULL,
    sequence integer NOT NULL,
    product_id integer NOT NULL,
    quantity double precision NOT NULL,
    unit_price double precision NOT NULL,
    total_price double precision NOT NULL,
    lote text,
    expiration timestamp(3) without time zone,
    image_link text,
    photo bytea[],
    supplier integer,
    costumer integer,
    stock_location_id integer NOT NULL,
    observation text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.stock_items OWNER TO postgres;

--
-- Name: stock_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_items_id_seq OWNER TO postgres;

--
-- Name: stock_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_items_id_seq OWNED BY public.stock_items.id;


--
-- Name: stock_location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_location (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.stock_location OWNER TO postgres;

--
-- Name: stock_location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_location_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_location_id_seq OWNER TO postgres;

--
-- Name: stock_location_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_location_id_seq OWNED BY public.stock_location.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role public."Role" DEFAULT 'DEMO'::public."Role" NOT NULL,
    username character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    gender public."Gender" DEFAULT 'OTHER'::public."Gender",
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer,
    updated_by integer
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: composition_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_items ALTER COLUMN id SET DEFAULT nextval('public.composition_items_id_seq'::regclass);


--
-- Name: compositions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compositions ALTER COLUMN id SET DEFAULT nextval('public.compositions_id_seq'::regclass);


--
-- Name: groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groups ALTER COLUMN id SET DEFAULT nextval('public.groups_id_seq'::regclass);


--
-- Name: ocurrences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocurrences ALTER COLUMN id SET DEFAULT nextval('public.ocurrences_id_seq'::regclass);


--
-- Name: ocurrences_of_production_stages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocurrences_of_production_stages ALTER COLUMN id SET DEFAULT nextval('public.ocurrences_of_production_stages_id_seq'::regclass);


--
-- Name: persons id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persons ALTER COLUMN id SET DEFAULT nextval('public.persons_id_seq'::regclass);


--
-- Name: prices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prices ALTER COLUMN id SET DEFAULT nextval('public.prices_id_seq'::regclass);


--
-- Name: production_lines id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_lines ALTER COLUMN id SET DEFAULT nextval('public.production_lines_id_seq'::regclass);


--
-- Name: production_order_steps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order_steps ALTER COLUMN id SET DEFAULT nextval('public.production_order_steps_id_seq'::regclass);


--
-- Name: production_orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders ALTER COLUMN id SET DEFAULT nextval('public.production_orders_id_seq'::regclass);


--
-- Name: production_orders_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders_items ALTER COLUMN id SET DEFAULT nextval('public.production_orders_items_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: progress_of_productions_orders_steps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps ALTER COLUMN id SET DEFAULT nextval('public.progress_of_productions_orders_steps_id_seq'::regclass);


--
-- Name: stock id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock ALTER COLUMN id SET DEFAULT nextval('public.stock_id_seq'::regclass);


--
-- Name: stock_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items ALTER COLUMN id SET DEFAULT nextval('public.stock_items_id_seq'::regclass);


--
-- Name: stock_location id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_location ALTER COLUMN id SET DEFAULT nextval('public.stock_location_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
1bb522b3-715b-422a-b11c-e43573dc4e58	ad936617e5c20a5e1a778cb8f7a96ba98bb325738acdfc613d44088369d7430b	2024-10-05 10:37:57.010627-03	20241005133755_init	\N	\N	2024-10-05 10:37:55.706384-03	1
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, description, active, created_at, updated_at, created_by, updated_by) FROM stdin;
1	Premium	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
2	Importado	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
3	Nacional	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
4	Top Demais	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
5	Promo├º├úo	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
\.


--
-- Data for Name: composition_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: compositions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ocurrences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ocurrences_of_production_stages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: persons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: production_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_lines (id, description, active, created_at, updated_at, created_by, updated_by) FROM stdin;
1	Esteira 1	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
2	Esteira 2	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
3	Esteira 3	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
4	Linha 4	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
5	Linha 5	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
\.


--
-- Data for Name: production_order_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: production_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: production_orders_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: progress_of_productions_orders_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_location (id, description, active, created_at, updated_at, created_by, updated_by) FROM stdin;
1	C├ómara Fria A	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
2	Dep├│sito	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
3	P├ítio	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
4	C├ómara Fria B	t	2024-10-05 10:39:39.702026	2024-10-05 10:39:39.702026	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 5, true);


--
-- Name: composition_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.composition_items_id_seq', 7, true);


--
-- Name: compositions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.compositions_id_seq', 7, true);


--
-- Name: groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.groups_id_seq', 10, true);


--
-- Name: ocurrences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ocurrences_id_seq', 12, true);


--
-- Name: ocurrences_of_production_stages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ocurrences_of_production_stages_id_seq', 5, true);


--
-- Name: persons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.persons_id_seq', 6, true);


--
-- Name: prices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prices_id_seq', 28, true);


--
-- Name: production_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_lines_id_seq', 5, true);


--
-- Name: production_order_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_order_steps_id_seq', 15, true);


--
-- Name: production_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_orders_id_seq', 5, true);


--
-- Name: production_orders_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_orders_items_id_seq', 5, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 14, true);


--
-- Name: progress_of_productions_orders_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progress_of_productions_orders_steps_id_seq', 24, true);


--
-- Name: stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_id_seq', 4, true);


--
-- Name: stock_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_items_id_seq', 28, true);


--
-- Name: stock_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_location_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: composition_items composition_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_items
    ADD CONSTRAINT composition_items_pkey PRIMARY KEY (id);


--
-- Name: compositions compositions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compositions
    ADD CONSTRAINT compositions_pkey PRIMARY KEY (id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: ocurrences_of_production_stages ocurrences_of_production_stages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocurrences_of_production_stages
    ADD CONSTRAINT ocurrences_of_production_stages_pkey PRIMARY KEY (id);


--
-- Name: ocurrences ocurrences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocurrences
    ADD CONSTRAINT ocurrences_pkey PRIMARY KEY (id);


--
-- Name: persons persons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_pkey PRIMARY KEY (id);


--
-- Name: prices prices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prices
    ADD CONSTRAINT prices_pkey PRIMARY KEY (id);


--
-- Name: production_lines production_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_lines
    ADD CONSTRAINT production_lines_pkey PRIMARY KEY (id);


--
-- Name: production_order_steps production_order_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order_steps
    ADD CONSTRAINT production_order_steps_pkey PRIMARY KEY (id);


--
-- Name: production_orders_items production_orders_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders_items
    ADD CONSTRAINT production_orders_items_pkey PRIMARY KEY (id);


--
-- Name: production_orders production_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: progress_of_productions_orders_steps progress_of_productions_orders_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps
    ADD CONSTRAINT progress_of_productions_orders_steps_pkey PRIMARY KEY (id);


--
-- Name: stock_items stock_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_pkey PRIMARY KEY (id);


--
-- Name: stock_location stock_location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_location
    ADD CONSTRAINT stock_location_pkey PRIMARY KEY (id);


--
-- Name: stock stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: categories_description_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_description_key ON public.categories USING btree (description);


--
-- Name: production_orders_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX production_orders_number_key ON public.production_orders USING btree (number);


--
-- Name: products_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_code_key ON public.products USING btree (code);


--
-- Name: products_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_sku_key ON public.products USING btree (sku);


--
-- Name: stock_document_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX stock_document_number_key ON public.stock USING btree (document_number);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: composition_items composition_items_composition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_items
    ADD CONSTRAINT composition_items_composition_id_fkey FOREIGN KEY (composition_id) REFERENCES public.compositions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: composition_items composition_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_items
    ADD CONSTRAINT composition_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: compositions compositions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compositions
    ADD CONSTRAINT compositions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: production_orders_items final_product_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders_items
    ADD CONSTRAINT final_product_fkey FOREIGN KEY (final_product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: groups groups_father_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_father_id_fkey FOREIGN KEY (father_id) REFERENCES public.groups(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ocurrences_of_production_stages ocurrences_of_production_stages_ocurrence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocurrences_of_production_stages
    ADD CONSTRAINT ocurrences_of_production_stages_ocurrence_id_fkey FOREIGN KEY (ocurrence_id) REFERENCES public.ocurrences(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ocurrences_of_production_stages ocurrences_of_production_stages_stage_ocurred_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocurrences_of_production_stages
    ADD CONSTRAINT ocurrences_of_production_stages_stage_ocurred_id_fkey FOREIGN KEY (stage_ocurred_id) REFERENCES public.progress_of_productions_orders_steps(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: prices prices_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prices
    ADD CONSTRAINT prices_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: production_orders_items production_orders_items_production_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders_items
    ADD CONSTRAINT production_orders_items_production_order_id_fkey FOREIGN KEY (production_order_id) REFERENCES public.production_orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.persons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: progress_of_productions_orders_steps progress_of_productions_orders_steps_line_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps
    ADD CONSTRAINT progress_of_productions_orders_steps_line_id_fkey FOREIGN KEY (line_id) REFERENCES public.production_lines(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: progress_of_productions_orders_steps progress_of_productions_orders_steps_operator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps
    ADD CONSTRAINT progress_of_productions_orders_steps_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: progress_of_productions_orders_steps progress_of_productions_orders_steps_production_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps
    ADD CONSTRAINT progress_of_productions_orders_steps_production_id_fkey FOREIGN KEY (production_id) REFERENCES public.production_orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: progress_of_productions_orders_steps progress_of_productions_orders_steps_raw_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps
    ADD CONSTRAINT progress_of_productions_orders_steps_raw_product_id_fkey FOREIGN KEY (raw_product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: progress_of_productions_orders_steps progress_of_productions_orders_steps_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_of_productions_orders_steps
    ADD CONSTRAINT progress_of_productions_orders_steps_step_id_fkey FOREIGN KEY (step_id) REFERENCES public.production_order_steps(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_items stock_items_costumer_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_costumer_fkey FOREIGN KEY (costumer) REFERENCES public.persons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_items stock_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_items stock_items_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stock(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_items stock_items_stock_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_stock_location_id_fkey FOREIGN KEY (stock_location_id) REFERENCES public.stock_location(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_items stock_items_supplier_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_supplier_fkey FOREIGN KEY (supplier) REFERENCES public.persons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

